body {
    background-color: rgb(106, 112, 147);
    font-family: "M PLUS Rounded 1c", sans-serif;
    padding: 55px;
}

.todoAppWrapper {
    max-width: 500px;
    margin: 0 auto;
    background-color: rgb(236, 236, 236);
    box-shadow: 5px 5px 15px 3px #777777;
    border-radius: 10px;;
    font-size: large;
}

.datas {
    display: flex;
    justify-content: space-between;
    /* margin: 10px 0px 10px 0px; */
    padding: 10px;
}

.button {
    margin: 0px 8px 0px 0px;
    text-align: center;
}

.buttons {
    /* margin: 0px 8px 0px 0px; */
    text-align: center;
}

.h2 {
    margin: 30px;
}

.bold {
    font-weight: bold;
    color: #483535;
}

.absence {
    text-decoration: line-through;
    color: rgb(179, 177, 177);
}


.center {
    text-align: center;
}
.right {
    text-align: right;
}

/* ソースが一瞬見えちゃう対策 */
[v-cloak] {
    display: none;
}



/* 個別 */

.setTime {
    font-size: xx-small;
}


/* 主表示部分 */
.default-background {
    /* background-color: white; */
    color: black;
    text-align: center;
    margin:10px 0px 10px 0px;
    padding:0px 10px 0px 10px;
    font-size: 25x;
}

.yellow-background {
    margin:10px 0px 10px 0px;
    background-color: yellow;
    color: black;
    text-align: center;
    padding:0px 10px 0px 10px;
    font-size: 30px;
}

.red-background {
    margin:10px 0px 10px 0px;
    background-color: red;
    color: white;
    text-align: center;
    padding:0px 10px 0px 10px;
    font-size: 35px;
}